---
import { FileTextIcon } from "astro-feather";
import { Button } from "@/components/ui/button";
import { Drawer } from "@/components/Drawer";
import { ModeToggle } from "@/components/ModeToggle";
import resume from "/src/2024_q1_jan_chavez-marcos_resume_v15.pdf";
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const header = document.querySelector(".logo-container");

    window.addEventListener("scroll", () => {
      const scrolledPastTop = window.scrollY > 0;

      if (scrolledPastTop) {
        header?.classList.add("header-scrolled");
      } else {
        header?.classList.remove("header-scrolled");
      }
    });
  });
</script>

<header class="header-main">
  <div class="header relative xl:min-h-64 pb-4">
    <span aria-hidden="true"></span>
    <div
      class="fixed-container fixed top-0 left-0 right-0 transition ease delay-0 background duration-150 bg-background z-10"
    >
      <div class="header-container mx-auto my-0 max-w-7xl px-4 py-6 md:px-14">
        <div class="header-content flex justify-end items-center h-6 relative">
          <ul
            class="header-action-wrapper flex relative p-0 m-0 leading-none gap-3"
          >
            <li>
              <Button variant="outline" size="icon">
                <a href={resume}>
                  <FileTextIcon strokeWidth={1} />
                </a>
              </Button>
            </li>
            <li>
              <a
                href="https://calendly.com/malexanderlvz/30"
                class="flex items-center justify-center w-10"
              >
                <Button variant="outline" size="icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    width="24"
                    height="24"
                    class="main-grid-item-icon background"
                    fill="none"
                    stroke="currentColor"
                  >
                    <rect height="18" rx="2" ry="2" width="18" x="3" y="4"
                    ></rect>
                    <line x1="16" x2="16" y1="2" y2="6"></line>
                    <line x1="8" x2="8" y1="2" y2="6"></line>
                    <line x1="3" x2="21" y1="10" y2="10"></line>
                  </svg>
                </Button>
              </a>
            </li>
            <li>
              <ModeToggle client:load />
            </li>
            {/*<li><Drawer client:load /></li>*/}
          </ul>
        </div>
        <div class="logo-container">
          <a href="/" class="logo-anchor flex-grow-1">
            <div class="logo">
              <svg
                viewBox="0 0 286 40"
                fill="none"
                class="fill-foreground display-block"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M45.1898 0.768V1.848C44.0378 1.884 43.1558 2.028 42.5438 2.28C41.9318 2.496 41.5178 2.928 41.3018 3.576C41.1218 4.188 41.0318 5.16 41.0318 6.492V33.276C41.0318 34.572 41.1398 35.544 41.3558 36.192C41.5718 36.84 41.9678 37.272 42.5438 37.488C43.1558 37.704 44.0378 37.848 45.1898 37.92V39C44.2538 38.928 43.0658 38.892 41.6258 38.892C40.1858 38.856 38.7278 38.838 37.2518 38.838C35.6318 38.838 34.1018 38.856 32.6618 38.892C31.2578 38.892 30.1238 38.928 29.2598 39V37.92C30.4838 37.848 31.4018 37.704 32.0138 37.488C32.6618 37.272 33.0938 36.84 33.3098 36.192C33.5258 35.544 33.6338 34.572 33.6338 33.276V3.9L34.0118 3.954L20.6198 39.162H19.7558L5.49976 4.224V31.008C5.49976 32.736 5.60776 34.086 5.82376 35.058C6.03976 35.994 6.50776 36.678 7.22776 37.11C7.98376 37.506 9.11776 37.776 10.6298 37.92V39C9.94576 38.928 9.06376 38.892 7.98376 38.892C6.90376 38.856 5.87776 38.838 4.90576 38.838C4.04176 38.838 3.15976 38.856 2.25976 38.892C1.39576 38.892 0.675761 38.928 0.0997609 39V37.92C1.28776 37.776 2.16976 37.506 2.74576 37.11C3.35776 36.714 3.75376 36.066 3.93376 35.166C4.14976 34.266 4.25776 33.024 4.25776 31.44V6.492C4.25776 5.16 4.14976 4.188 3.93376 3.576C3.75376 2.928 3.35776 2.496 2.74576 2.28C2.16976 2.028 1.28776 1.884 0.0997609 1.848V0.768C0.675761 0.803999 1.39576 0.839999 2.25976 0.875998C3.15976 0.911998 4.04176 0.929998 4.90576 0.929998C6.23776 0.929998 7.53376 0.911998 8.79376 0.875998C10.0538 0.839999 11.1698 0.803999 12.1418 0.768L23.7518 29.766L22.5638 30.738L33.8498 0.929998C34.3898 0.929998 34.9478 0.929998 35.5238 0.929998C36.1358 0.929998 36.7118 0.929998 37.2518 0.929998C38.7278 0.929998 40.1858 0.911998 41.6258 0.875998C43.0658 0.839999 44.2538 0.803999 45.1898 0.768ZM78.1395 0.605999L91.2615 34.464C91.8015 35.76 92.3775 36.66 92.9895 37.164C93.6375 37.632 94.2315 37.884 94.7715 37.92V39C93.8355 38.928 92.7015 38.892 91.3695 38.892C90.0735 38.856 88.7415 38.838 87.3735 38.838C85.7895 38.838 84.3135 38.856 82.9455 38.892C81.5775 38.892 80.4615 38.928 79.5975 39V37.92C81.4335 37.848 82.6035 37.542 83.1075 37.002C83.6115 36.426 83.5035 35.22 82.7835 33.384L73.2795 7.734L74.2515 6.546L65.6115 28.956C64.9275 30.756 64.5135 32.232 64.3695 33.384C64.2255 34.536 64.3155 35.436 64.6395 36.084C64.9635 36.732 65.5035 37.2 66.2595 37.488C67.0155 37.74 67.9515 37.884 69.0675 37.92V39C67.9155 38.928 66.7995 38.892 65.7195 38.892C64.6395 38.856 63.5595 38.838 62.4795 38.838C61.6875 38.838 60.9315 38.856 60.2115 38.892C59.5275 38.892 58.9155 38.928 58.3755 39V37.92C59.1675 37.74 59.9415 37.272 60.6975 36.516C61.4895 35.76 62.2455 34.446 62.9655 32.574L75.3315 0.605999C75.7635 0.641998 76.2315 0.659998 76.7355 0.659998C77.2395 0.659998 77.7075 0.641998 78.1395 0.605999ZM82.8375 23.448V24.528H66.7455L67.2855 23.448H82.8375ZM107.232 0.768C108.132 0.803999 109.284 0.839999 110.688 0.875998C112.092 0.911998 113.496 0.929998 114.9 0.929998C116.664 0.929998 118.338 0.911998 119.922 0.875998C121.506 0.839999 122.622 0.821999 123.27 0.821999C126.51 0.821999 129.174 1.218 131.262 2.01C133.386 2.766 134.97 3.846 136.014 5.25C137.058 6.654 137.58 8.31 137.58 10.218C137.58 11.406 137.346 12.63 136.878 13.89C136.41 15.114 135.6 16.248 134.448 17.292C133.296 18.336 131.712 19.2 129.696 19.884C127.716 20.532 125.178 20.856 122.082 20.856H116.898V19.776H121.542C123.81 19.776 125.538 19.38 126.726 18.588C127.95 17.76 128.76 16.68 129.156 15.348C129.588 13.98 129.804 12.468 129.804 10.812C129.804 7.968 129.246 5.772 128.13 4.224C127.014 2.64 125.088 1.848 122.352 1.848C120.876 1.848 119.904 2.154 119.436 2.766C119.004 3.378 118.788 4.62 118.788 6.492V33.276C118.788 34.572 118.896 35.544 119.112 36.192C119.328 36.84 119.724 37.272 120.3 37.488C120.912 37.704 121.794 37.848 122.946 37.92V39C122.046 38.928 120.894 38.892 119.49 38.892C118.086 38.856 116.664 38.838 115.224 38.838C113.604 38.838 112.092 38.856 110.688 38.892C109.284 38.892 108.132 38.928 107.232 39V37.92C108.42 37.848 109.302 37.704 109.878 37.488C110.49 37.272 110.886 36.84 111.066 36.192C111.282 35.544 111.39 34.572 111.39 33.276V6.492C111.39 5.16 111.282 4.188 111.066 3.576C110.886 2.928 110.49 2.496 109.878 2.28C109.302 2.028 108.42 1.884 107.232 1.848V0.768ZM116.898 19.938C118.59 20.01 119.994 20.1 121.11 20.208C122.262 20.28 123.234 20.352 124.026 20.424C124.854 20.496 125.592 20.586 126.24 20.694C129.228 20.982 131.424 21.684 132.828 22.8C134.268 23.88 135.222 25.536 135.69 27.768L136.932 33.33C137.256 34.806 137.598 35.868 137.958 36.516C138.354 37.128 138.912 37.416 139.632 37.38C140.136 37.38 140.568 37.254 140.928 37.002C141.288 36.714 141.648 36.336 142.008 35.868L142.764 36.516C141.864 37.632 140.91 38.46 139.902 39C138.894 39.504 137.616 39.756 136.068 39.756C134.34 39.756 132.882 39.36 131.694 38.568C130.506 37.74 129.696 36.192 129.264 33.924L128.238 28.524C127.95 27.012 127.608 25.68 127.212 24.528C126.852 23.376 126.348 22.476 125.7 21.828C125.052 21.18 124.098 20.856 122.838 20.856H117.006L116.898 19.938ZM174.664 0.0119966C177.04 0.0119966 178.984 0.371997 180.496 1.092C182.044 1.776 183.412 2.586 184.6 3.522C185.32 4.062 185.86 4.134 186.22 3.738C186.616 3.306 186.886 2.316 187.03 0.768H188.272C188.2 2.136 188.146 3.81 188.11 5.79C188.074 7.77 188.056 10.38 188.056 13.62H186.814C186.598 12 186.364 10.65 186.112 9.57C185.86 8.454 185.5 7.5 185.032 6.708C184.6 5.916 183.988 5.16 183.196 4.44C182.224 3.36 181.054 2.568 179.686 2.064C178.354 1.524 176.95 1.254 175.474 1.254C173.602 1.254 171.964 1.758 170.56 2.766C169.192 3.738 168.04 5.088 167.104 6.816C166.204 8.508 165.52 10.488 165.052 12.756C164.62 15.024 164.404 17.436 164.404 19.992C164.404 22.62 164.638 25.068 165.106 27.336C165.61 29.568 166.33 31.53 167.266 33.222C168.238 34.878 169.426 36.174 170.83 37.11C172.27 38.046 173.926 38.514 175.798 38.514C177.13 38.514 178.498 38.262 179.902 37.758C181.306 37.254 182.458 36.48 183.358 35.436C184.546 34.356 185.356 33.078 185.788 31.602C186.22 30.09 186.562 28.092 186.814 25.608H188.056C188.056 28.992 188.074 31.728 188.11 33.816C188.146 35.868 188.2 37.596 188.272 39H187.03C186.886 37.452 186.634 36.48 186.274 36.084C185.95 35.688 185.392 35.742 184.6 36.246C183.268 37.182 181.846 38.01 180.334 38.73C178.858 39.414 176.95 39.756 174.61 39.756C170.938 39.756 167.716 38.982 164.944 37.434C162.172 35.886 160.012 33.654 158.464 30.738C156.952 27.822 156.196 24.312 156.196 20.208C156.196 16.176 156.988 12.648 158.572 9.624C160.156 6.6 162.334 4.242 165.106 2.55C167.878 0.857998 171.064 0.0119966 174.664 0.0119966ZM224.355 0.0119966C228.027 0.0119966 231.249 0.785997 234.021 2.334C236.793 3.882 238.935 6.114 240.447 9.03C241.995 11.91 242.769 15.42 242.769 19.56C242.769 23.592 241.977 27.12 240.393 30.144C238.845 33.168 236.667 35.526 233.859 37.218C231.087 38.91 227.901 39.756 224.301 39.756C220.629 39.756 217.407 38.982 214.635 37.434C211.863 35.886 209.703 33.654 208.155 30.738C206.643 27.822 205.887 24.312 205.887 20.208C205.887 16.176 206.679 12.648 208.263 9.624C209.847 6.6 212.025 4.242 214.797 2.55C217.569 0.857998 220.755 0.0119966 224.355 0.0119966ZM224.139 0.983997C222.015 0.983997 220.161 1.794 218.577 3.414C217.029 5.034 215.823 7.266 214.959 10.11C214.095 12.954 213.663 16.248 213.663 19.992C213.663 23.808 214.149 27.138 215.121 29.982C216.093 32.79 217.407 34.968 219.063 36.516C220.719 38.028 222.537 38.784 224.517 38.784C226.641 38.784 228.477 37.974 230.025 36.354C231.609 34.734 232.833 32.502 233.697 29.658C234.561 26.778 234.993 23.484 234.993 19.776C234.993 15.924 234.507 12.594 233.535 9.786C232.563 6.978 231.249 4.818 229.593 3.306C227.973 1.758 226.155 0.983997 224.139 0.983997ZM271.95 0.119998C273.966 0.119998 275.514 0.335999 276.594 0.768C277.674 1.2 278.61 1.668 279.402 2.172C279.834 2.424 280.176 2.622 280.428 2.766C280.716 2.874 280.986 2.928 281.238 2.928C281.598 2.928 281.85 2.73 281.994 2.334C282.174 1.938 282.318 1.344 282.426 0.551999H283.668C283.632 1.236 283.578 2.028 283.506 2.928C283.47 3.828 283.434 5.034 283.398 6.546C283.398 8.022 283.398 9.984 283.398 12.432H282.156C282.048 10.596 281.634 8.832 280.914 7.14C280.23 5.448 279.24 4.062 277.944 2.982C276.684 1.866 275.064 1.308 273.084 1.308C271.32 1.308 269.844 1.83 268.656 2.874C267.504 3.918 266.928 5.322 266.928 7.086C266.928 8.598 267.306 9.876 268.062 10.92C268.818 11.928 269.88 12.918 271.248 13.89C272.652 14.826 274.308 15.906 276.216 17.13C277.98 18.282 279.564 19.434 280.968 20.586C282.372 21.702 283.47 22.944 284.262 24.312C285.09 25.68 285.504 27.354 285.504 29.334C285.504 31.674 284.928 33.618 283.776 35.166C282.624 36.714 281.076 37.866 279.132 38.622C277.188 39.378 275.064 39.756 272.76 39.756C270.636 39.756 268.944 39.54 267.684 39.108C266.46 38.676 265.398 38.226 264.498 37.758C263.706 37.254 263.094 37.002 262.662 37.002C262.302 37.002 262.032 37.2 261.852 37.596C261.708 37.992 261.582 38.586 261.474 39.378H260.232C260.304 38.55 260.34 37.578 260.34 36.462C260.376 35.346 260.394 33.906 260.394 32.142C260.43 30.342 260.448 28.074 260.448 25.338H261.69C261.834 27.642 262.23 29.802 262.878 31.818C263.562 33.798 264.588 35.4 265.956 36.624C267.36 37.848 269.214 38.46 271.518 38.46C272.778 38.46 273.912 38.244 274.92 37.812C275.964 37.344 276.792 36.642 277.404 35.706C278.016 34.734 278.322 33.51 278.322 32.034C278.322 30.558 277.98 29.262 277.296 28.146C276.612 27.03 275.658 25.986 274.434 25.014C273.21 24.042 271.77 23.052 270.114 22.044C268.422 20.964 266.838 19.866 265.362 18.75C263.886 17.634 262.698 16.374 261.798 14.97C260.934 13.53 260.502 11.802 260.502 9.786C260.502 7.554 261.042 5.736 262.122 4.332C263.202 2.892 264.606 1.83 266.334 1.146C268.098 0.461998 269.97 0.119998 271.95 0.119998Z"
                ></path>
              </svg>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
